@for(movie of movies; track movie.title) {
  <div [class.odd]="$odd" [class.even]="$even" [class.firstElement]="$first" [class.lastElement]="$last">
    <p>
      <span>
        {{$index +1}}/{{$count}} {{movie.title}}
      </span>
      <span>
        {{movie.releaseYear}}
      </span>
      <span>
        {{movie.genre}}
      </span>
    </p>
  </div>
}

@for(otter of evilOtters; track otter){
  <p>
    HAHAHAHAHAHAHAHA
  </p>
} @empty {
  <p>
    Il n'y a évidemment aucune loutres diaboliques :)
  </p>
}

@if (4 > 2) {
  <p>
    4 est plus grand que 2
  </p>
}

@if(false){
  <p>
    Je n'apparaitrais jamais
  </p>
}@else {
  <p>
    Comme la condition est fausse , j'apparais !
  </p>
}

@if (false) {
  <span>
    HAHAHAHA
  </span>
}@else if("banane" === "banane"){
  <p>
    La banane est un fruit !
  </p>
}@else {
  <p>
    Je sers à rien
  </p>
}

<button type="button" (click)="viewMode = 'kanban'">
  Vue Kanban
</button>
<button type="button" (click)="viewMode = 'list'">
  Vue Liste
</button>

@switch (viewMode) {
  @case("kanban"){
    <p>Une jolie vue avec des cartes</p>
  }
  @case ("list") {
    <p>Une vue compacte qui se lit de haut en bas</p>
  }
  @default {
    <p>La vue par défaut :p</p>
  }
}

<hr>

<button type="button"(click)="toggleVisibility()">{{isVisible ? "Masquer la liste" : "Afficher la liste"}}</button>
<button type="button"(click)="toggleRandomVisibility()">{{isRandomVisible ? "Masquer le livre" : "Afficher un livre aléatoire"}}</button>

<ul>

  
  @if (isVisible && books.length < 1) {
    <p>Il n'y a pas de livres à afficher</p>
  }

  @if (isRandomVisible && books.length < 1) {
    <p>Il n'y a pas de livres à afficher</p>
  }

  @if(isRandomVisible && books.length >= 1){
    <button type="button" (click)="randomiseBook()">⟳</button> 
    <p>Titre : {{randomBook.titre}}</p>
    <p>Auteur : {{randomBook.auteur}}</p>
    <p>Année de publication : {{randomBook.annee_publication}}</p>
    <p>Genre : {{randomBook.genre}}</p>
    <p>Langue : {{randomBook.langue}}</p>
  }

  @if(isVisible && books.length >= 1){
    @for (book of books; track book.titre ) {
      <li>
        <p>Titre : {{book.titre}}</p>
        <p>Auteur : {{book.auteur}}</p>
        <p>Année de publication : {{book.annee_publication}}</p>
        <p>Genre : {{book.genre}}</p>
        <p>Langue : {{book.langue}}</p>
        <button type="button" (click)="deleteBook($index)">Supprimer ce livre</button>
      </li>
    }
  }
</ul>
